<%- include('../head.html',{locals:locals}); %>
	<div class="container">
		<div class="article_editor">
			<input type="hidden" id="id"/>
			<div class="title">
				<input type="text" id="title" value="<%= article.title %>"/>
			</div>
			<div class="tags">
				<% tags && tags.forEach(function(tag){ %>
				<input type="checkbox" name="tag" class="tag" id="<%= tag.id %>" <%if(article.tags && article.tags.indexOf('tag.id') != -1){%>checked<%}%>/>
				<label for="tag_<%=tag.id%>"><%= tag.name %></label>
				<%});%>
				<input type="text" id="new_tag" style="display:none"/>
				<a href="javascript:;" id="add_tag">+</a>
			</div>
			<div class="editor_con">
				<textarea id="editor" name="editor"><%- article.content %></textarea>
			</div>
		</div>
	</div>
	<script>
		var user_id = <%= user_id %>;
		var id = <%= id || 'undefined' %>;
		windinsky.use(['modules/ckeditor/ckeditor'],function(){
			global.ckeditor = CKEDITOR.replace('editor');
			ckeditor.on('instanceReady',function(){
				ckeditor.resize('100%','500');
				windinsky.use('articles/edit');
			});
		});
	</script>
<%- include('../foot.html',{locals:locals}); %>
