<%- include('../head.html',{locals:locals}); %>
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
	<div class="container">
		<div class="inner">
			<img src="http://d03.res.meilishuo.net/img/_o/34/ad/d054a8b7e386f97f0d65aca3d8a1_675_405.cg.jpg_955e4cba_s0_675_405.jpg"/>
			<img src="http://d05.res.meilishuo.net/img/_o/0b/af/245e9905133718536b764790c2ae_675_405.cf.jpg_1cbeae89_s0_675_405.jpg"/>
			<img src="http://imgtest-dl.meiliworks.com/img/_o/59/20/cba19dc0d304e080c9866335b737_675_405.cg.jpg_510d4cfc_s0_675_405.jpg"/>
			<img src="http://d05.res.meilishuo.net/img/_o/2d/d9/02363edc1b3f104c3c65151093f6_675_405.cf.jpg_cacc0b1e_s0_675_405.jpg"/>
			<img src="http://d04.res.meilishuo.net/pic/_o/29/46/cc90b47f39a198f108b36d7958b0_675_405.cg.jpg"/>
			<img src="http://d06.res.meilishuo.net/pic/_o/d3/d9/26c9c9d9cf081747a1477aeeaa0f_675_405.ch.jpg"/>
			<img src="http://d03.res.meilishuo.net/pic/_o/aa/3a/1ab5307663945bed9d008391504b_675_405.cg.jpg"/>
			<img src="http://d06.res.meilishuo.net/pic/_o/ea/a9/c9941519a405bd086c89acbb7263_675_405.ch.jpg"/>
			<img src="http://d06.res.meilishuo.net/pic/_o/15/64/94640a951b7924e3faebab3371cf_675_405.cg.jpg"/>
			<img src="http://d04.res.meilishuo.net/pic/_o/03/7b/ab15a761ef43a7972f932c092a3d_675_405.cf.jpg"/>
			<img src="http://d05.res.meilishuo.net/pic/_o/ae/05/279faeeb52908a95021fe53e30e8_675_405.ch.jpg"/>
			<img src="http://d03.res.meilishuo.net/pic/_o/35/c8/37ea8f7cf974d55a98555d402215_675_405.cg.jpg"/>
			<img src="http://d05.res.meilishuo.net/pic/_o/5f/1e/784b296778c43e81b23141c2d43b_675_405.ch.jpg"/>
		</div>
	</div>
			<img id="img" src="http://es.meilishuo.net/pic/_o/5f/1e/784b296778c43e81b23141c2d43b_675_405.ch.jpg"/>
	<div>123123123</div>
	<script>
		windinsky.use( 'notes/slider' );
	</script>
<%- include('../foot.html',{locals:locals}); %>
