.__confirm_title{
	font-size:14px;
	height:24px;
	line-height:24px;
	font-weight:bolder;
	padding:20px 0 0 12px;
}
.__confirm_content{
	font-size:18px;
	padding:20px;
	text-indent:2em;
	line-height:32px;
}
.__confirm_btns{
	padding:10px;
	padding-bottom:20px;
	text-align:right;
}
.__confirm_btns .yes, .__confirm_btns .no{
	font-size:14px;
	display:inline-block;
	padding:5px 10px;
	border:1px solid silver;
	border-radius:3px;
	text-align:center;
	text-decoration:none;
}
.__confirm_btns .yes{
	border:0;
	background:blue;
	color:white;
	margin-right:10px;
}
.__confirm_btns .no{
	background:white;
	margin-right:20px;
}
